<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="amazon-cognito-auth.min.js"></script>
    <style>
      .table td {
        text-align: center;
      }
      .table th {
        text-align: center;
      }
    </style>
    <title>SITENAME</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
          <a class="navbar-brand" href="http://SITENAME">HEADERTEXT</a>
          <ul class="navbar-nav mr-auto">
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item" id="pic">
            </li>
            <li class="nav-item">
              &nbsp;
            </li>
            <li class="nav-item" id="logout">
              <a href="javascript:void(0)" data-toggle="tooltip" title="logout">
                <i style="color: white; font-size: 50px;" class="fa fa-sign-out" aria-hidden="true"></i>
              </a>
            </li>
        </ul>
    </nav>

    <main role="main" class="container">
      <div id="loggedIn">
        <h5>Submitted Packages</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Versions</th>
              <th scope="col">Downloads</th>
              <th scope="col">Locations</th>
              <th scope="col">Request IPs</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="submitted">
          </tbody>
        </table>
        <br/>
        <h5>Unsubmitted Packages</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="unsubmitted">

          </tbody>
        </table>
    </div>
    <div id="loggedOut" class="text-center">
      <a href="javascript:void(0)" style="font-size: 50px;"><i style="font-size: 50px;" class="fa fa-sign-in" aria-hidden="true"></i>&nbsp Login with &nbsp<i class="fa fa-github" aria-hidden="true" style="font-size:50px"></i></a>
    </di>

    </main>
    <div class="row">
      <small class="col-sm-12 text-center">
        Built using <a href="https://github.com/nerdguru/sls-pypi" target="_blank">sls-pypi</a>, which in turn leverages
        <a href="https://github.com/binxio/cfn-certificate-provider" target="_blank">cfn-certificate-provider</a>
        <a href="https://github.com/krisk/fuse" target="_blank">fuse</a>
        <a href="https://github.com/boto/boto3" target="_blank">boto3</a>
        <a href="https://github.com/novemberfiveco/s3pypi" target="_blank">s3pypi</a>
        <a href="https://github.com/serverless/serverless" target="_blank">serverless</a>
        <a href="https://github.com/k1LoW/serverless-s3-sync" target="_blank">serverless-s3-sync</a>
        among others.
      </small>
    </div>
    <script src="./rest.js"></script>
  </body>
</html>
