<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
    pre {
        background-color: LightGray;
    }
    </style>
    <title>PACKAGENAME</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="http://SITENAME">HEADERTEXT</a>
    </nav>

    <main role="main" class="container">
      <h2>PACKAGENAME</h2>
      <code>pip install --extra-index-url https://pypi.SITENAME PACKAGENAME</code>
      <hr/>
      <div class="row">
        <div class="col-sm-9">
  					README_CONTENT
        </div>
        <div class="col-sm-3">
          <h6>Downloads</h6>
          DOWNLOADS
          <hr/>
          <h6>Versions</h6>
          VERSIONS
          <hr/>
          <h6>Dependents</h6>
          DEPENDENTS_CONTENT
          <hr/>
          <h6>Dependencies</h6>
          DEPENDENCIES_CONTENT
          <hr/>
          <h6>License</h6>
          LICENSE
          <hr/>
          <h6>Open Issues</h6>
          OPENISSUES
          <hr/>
          <h6>Pull Requests</h6>
          PULLREQUESTS
          <hr/>
          <h6>GitHub Repo</h6>
          GITHUBREPO
          <hr/>
          <h6>Contributors</h6>
          CONTRIBUTORS
        </div>
      </div>
      <div class="row">
				<div class="col-sm-12 text-center">
					FOOTERTEXT
 				</div>
		  </div>
    </main>
  </body>
</html>
